.input-bar-container {
  padding: 0 12px 8px;
  width: 100%;
  max-width: 808px;

  p {
    font-size: 12px;
    padding: 8px 8px 0;
  }
}

.input-bar {
  align-items: flex-end;
  border: 1px solid;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-shrink: 0;
  position: relative;
  scrollbar-width: none;

  &:focus-within {
    border-color: rgba(255, 255, 255, 0.25);
  }
}

.question-box {
  font-size: 16px;
  background: none;
  border: none;
  line-height: 24px;
  max-height: 150px;
  outline: none;
  overflow-y: scroll;
  margin: 12px 0 12px 12px;
  padding: 0 36px 0 0;
  resize: none;
  width: 100%;
}

.submit-button {
  background: white;
  position: absolute;
  bottom: 8px;
  display: flex;
  right: 12px;
  border-radius: 6px;
  padding: 4px;
  border: none;
}

.submit-button:disabled {
  opacity: 0.15;
}
