.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3em auto;

    a {
      color: white;
      text-align: left;
    }
  }
}
