*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.layout-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

aside {
  background-color: #161616;
  width: 100%;
  max-width: 268px;
}

main {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column-reverse;
  flex-grow: 1;
  height: 100%;
  margin: 0 auto;
  max-width: 768px;
  padding: 2rem;
}
