*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  width: 100%;
}
